html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#lfmde.page-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
#lfmde .controls {
	background-color: #fff;
}
#lfmde #map-container {
	background-color: #f0f0f0;
}
#lfmde .footer {
	background-color: #fff;
}
